
<div class="container">
  <div>
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search Players...">
    <button (click)="searchPlayers()">Search</button>
    <select [(ngModel)]="searchType">
      <option value="name">Name</option>
      <option value="country">Country</option>
      <option value="position">Position</option>
      <option value="team">Team</option>
    </select>
  </div>
  <div *ngFor="let player of players">
    {{ player.name }} - {{ player.position }} - {{ player.country }}
    <button (click)="addPlayerToTeam(player.id)">Add to Team</button>
  </div>
  <div *ngFor="let player of myTeam">
    {{ player.name }} - {{ player.position }} - {{ player.country }}
    <button (click)="removePlayerFromTeam(player.id)">Remove from Team</button>
  </div>
</div>
