<form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="registerData.name" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" [(ngModel)]="registerData.emailAddress" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required>
    </div>
    <button type="submit">Register</button>
  </form>
  