<div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="onRegisterSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="registerForm.name" required>
      </div>
      <div class="form-group">
        <label for="emailAddress">Email Address:</label>
        <input type="email" id="emailAddress" name="emailAddress" [(ngModel)]="registerForm.emailAddress" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="registerForm.password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
  